name: CI

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]

jobs: 
    test:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3

            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                python-version: '3.11'
            
            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                pip install -r requirements.txt

            - name: Run Linter
              run: |
                pip install ruff
                ruff check app/

            - name: Check code formatting
              run: |
                pip install black
                black --check app/

    docker:
      runs-on: ubuntu-latest

      steps:
      - uses: actions/checkout@v3
      - name: Build Docker image
        run: docker built -t water-conditions-api .
